<div class="relative box-border bg-white rounded-md min-w-full lg:min-w-[1000px]">
  <div class="flex flex-row p-4 md:p-10 justify-between items-center gap-2 box-border min-h-full">
    <div class="w-full">
      <div class="text-2xl"><span class="text-primary">2. </span>{{title}}</div>
      <small>{{subTitle}}</small>
      <div class="mt-2">
        <div>
          <ng-container *ngFor="let option of areasSelected; let i = index;">
            <ng-container *ngIf="areaIndexActive == i">
              <div class="my-2 flex flex-col gap-3">
                <div class="flex justify-between border-b border-primary box-border">
                  <div *ngIf="i!=0">
                    <svg
                      (click)="handlePrevious()"
                       xmlns="http://www.w3.org/2000/svg"
                       fill="none"
                       viewBox="0 0 24 24"
                       stroke-width="1.5"
                       stroke="currentColor"
                       class="w-6 h-6 text-primary hover:text-primary-dark cursor-pointer">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
                    </svg>
                  </div>
                  <div *ngIf="i==0"></div>
                  <div class="text-primary font-bold text-xl">{{option.name}}</div>
                  <div *ngIf="(areaIndexActive) == (areasSelected.length - 1)"></div>
                  <div *ngIf="(areaIndexActive) != (areasSelected.length - 1)">
                    <svg
                      (click)="handleNext()"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6 text-primary hover:text-primary-dark cursor-pointer">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                    </svg>
                  </div>
                </div>
                <div class="flex flex-wrap gap-2 justify-center">
                  <div
                    *ngFor="let zone of option.zones;"
                    (click)="handleSelectZoneAndOpenDialog(option.id, zone)"
                    [matTooltip]="zone.name"
                    matTooltipPosition="above"
                    class="border-4 border-gray-200 rounded-md hover:border-secondary-light cursor-pointer box-border hover:bg-secondary-light relative"
                    [class.active_zone]="zone.selected">
                    <div *ngIf="zone.selected" class="bg-secondary text-primary-dark p-1 rounded-br-md absolute top-0 font-semibold">{{zone.size | slice:0:10}}</div>
                    <img [src]="zone.image" [alt]="zone.name" class="w-[120px] h-[120px] rounded-t-md">
                    <div
                      class="text-slate-100 p-1 rounded-b-md"
                      [class.bg-primary]="!zone.selected"
                      [class.bg-secondary]="zone.selected"
                      [class.text-primary-dark]="zone.selected"
                      [class.font-semibold]="zone.selected">
                        {{zone.name | uppercase | slice:0:10}}
                      </div>
                  </div>
                  <div
                    (click)="handleOtherSelect()"
                    *ngIf="!otherActive"
                    class="rounded-md w-[120px] h-[156px] overflow-hidden border border-dashed border-primary-light box-border cursor-pointer flex items-center justify-center text-primary-light hover:text-primary hover:border-primary">
                    <div>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                      </svg>
                    </div>
                  </div>
                  <div
                    *ngIf="otherActive"
                    class="py-2 px-3 border border-primary rounded-md h-fit">
                    <div class="relative pr-7">
                      <input
                        type="text"
                        placeholder="OTHER"
                        class="bg-slate-100 outline-none text-primary"
                        [formControl]="otherControl">
                        <svg
                          (click)="handleCheck(option.id)"
                          *ngIf="!otherControl.invalid"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-6 h-6 text-primary cursor-pointer hover:text-primary-dark absolute right-0 top-0">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                        </svg>
                        <svg
                          (click)="handleOtherClose()"
                          *ngIf="otherControl.invalid"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-6 h-6 text-primary cursor-pointer hover:text-primary-dark absolute right-0 top-0">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <small *ngIf="hasError" class="text-red-500">Select at least one option.</small>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-primary flex rounded-b-md">
    <div class="w-1/2 pt-3 pl-3 pb-3 cursor-pointer hover:bg-primary-dark rounded-b-md" (click)="goToBackPage()">
      <div class="text-slate-100 flex items-center justify-start">
        <mat-icon>chevron_left</mat-icon> PREVIOUS
      </div>
    </div>
    <div class="bg-white rounded-full p-[2px]">
      <img src="https://www.rcr-flooring.com/wp-content/uploads/2022/04/logonuevo.svg" class="w-[50px] h-[50px]">
    </div>
    <div class="w-1/2 pt-3 pr-3 pb-3 cursor-pointer hover:bg-primary-dark rounded-b-md" (click)="verifyZonesSelected()">
      <div class="text-slate-100 flex items-center justify-end">
          NEXT <mat-icon>chevron_right</mat-icon>
      </div>
    </div>
  </div>
</div>
