<div class="overflow-hidden relative h-screen box-border">
  <div class="flex flex-row p-4 md:p-10 justify-between items-center gap-2 box-border h-full">
    <div class="w-full">
      <div class="text-2xl"><span class="text-primary font-semibold">1.</span> {{title}}</div>
      <div>
        <mat-form-field appearance="standard" class="w-full lg:w-3/4">
          <input type="text" matInput [formControl]="nameControl">
          <mat-error>Is required.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="absolute bottom-0 right-0 hidden md:block">
      <img src="assets/imgs/Personaje.png" class="hidden lg:block h-screen">
    </div>
  </div>

  <div class="absolute z-10 bottom-4 md:bottom-4 right-4 md:right-4">
    <button mat-fab color="primary">
      <mat-icon>expand_less</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="verifyControl()">
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
</div>
