<div class="px-2 md:mx-0 flex items-center justify-between content-center h-full w-full">
  <div class="w-full flex justify-center flex-col px-5">
    <h1 class="text-2xl"><span class="text-primary">1.</span> {{title | uppercase}}</h1>
    <mat-form-field appearance="standard" class="w-full">
      <input type="text" matInput autocomplete="off" class="text-primary" [formControl]="nameControl">
      <mat-error>Is required.</mat-error>
    </mat-form-field>
    <!--<div class="mt-2">
      <button
        mat-flat-button
        color="primary"
        (click)="handleSubmit()">
        Submit
      </button>
    </div>-->
  </div>
  <img src="assets/imgs/Personaje.png" class="hidden md:block h-full">
</div>
