@import "../../../../assets/scss/color";

.s3_content_option {
    display: flex;
    flex-wrap: wrap;
    gap: .4rem;
    margin-top: 1rem;
    justify-content: center;
    @media (max-width: $md) {
        display: grid;
    }
}

.s3_option {
    border: 1px solid $primary;
    border-radius: 5px;
    color: $primary;
    cursor: pointer;
    padding: 10px 12px 10px 12px;
    color: #3f51b5;
    white-space: nowrap;
    min-width: 250px;
    text-align: center;
    &:hover {
        background-color: #c5cae9;
    }
    &.s3_active {
        background-color: $primary;
        color: white;
    }
}
