@import "../../../../assets/scss/color";
.s6_content {
    display: flex;
    flex-wrap: wrap;
    gap: .4rem;
    justify-content: center;
    margin-top: 1rem;
    @media (max-width: $md) {
        display: grid;
    }
}

.s6_select {
    width: 100%;
    text-align: center;
    color: #2f68db;
    font-size: 15px;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid #2f68db;
    margin: 10px;
    @media (max-width: $md) {
        width: 90%;
    }
}