@import "../../../../assets/scss/color";
.s7_content {
    display: flex;
    flex-wrap: wrap;
    gap: .4rem;
    justify-content: center;
    margin-top: 1rem;
    @media (max-width: $md) {
        display: grid;
    }
}

.input {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 2px solid #2f68db;
    background-color: white;
    border-radius: 5px;
    width: 40rem;
    @media (max-width: $md) {
        width: 15rem;
        padding: 0px;
    }
    & h4 {
        font-weight: 200;
        font-size: 14px;
        margin: 0;
    }
    & small {
        font-size: 70%;
    }
    & .btn_file {
        background-color: #2f68db;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 14px;
        font-weight: 200;
        width: 12rem;
        border-radius: 5px;
        cursor: pointer;
        @media (max-width: $md) {
            font-size: 12px;
            width: 6rem;
            margin: 4px;
        }
        &:hover {
            opacity: .9;
        }
    }
}