.form_content {
  background-image: url("https://res.cloudinary.com/dlj9wcgrm/image/upload/v1667065154/imagen-2_ido3bk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 460px) {
  .form_content {
    background-image: url("https://res.cloudinary.com/dlj9wcgrm/image/upload/v1667497361/texture_lgb6sb.jpg");
  }
}
