<h1 mat-dialog-title class="font-semibold">{{data.fullName | uppercase}}</h1>
<div mat-dialog-content>
  <div class="skip_content">
    <h3>EMAIL</h3>
    <div>{{data.email}}</div>
  </div>
  <div class="skip_content">
    <h3>ADDRESS</h3>
    <div>{{data.address}}</div>
  </div>

  <div class="skip_content">
    <h3>DO YOU WANT ANY SPECIAL DESIGN OR PATTERN?</h3>
    <div>{{data.hasDesign ? 'YES' : 'NO'}}</div>
  </div>

  <div class="skip_content">
    <h3>APPROXIMATE SQUARE FOOTAGE OF THE AREAS TO BE TILED?</h3>
    <div>{{data.size}}</div>
  </div>

  <div class="skip_content">
    <h3>PICTURE OF YOU PROJECT</h3>
    <div *ngIf="data.image.length > 5" class="mt-2">
      <button
        mat-raised-button
        (click)="handleOpenLink(data.image)"
        [disabled]="loadingFile">
        Open File
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
    <div *ngIf="data.image.length == 0">NONE</div>
  </div>

  <ng-container *ngFor="let area of data.areas">
    <div class="w-full border border-primary rounded-md mb-2" *ngIf="area.selected">
      <div class="border-b border-primary px-3 text-primary">{{area.name | uppercase}}</div>
      <div class="py-2 px-3">
        <ng-container *ngFor="let zone of area.zones">
          <div *ngIf="zone.selected" class="mb-4">
            <div class="flex justify-between">
              <div class="font-semibold">
                {{zone.name | uppercase}}
              </div>
              <div class="font-semibold">
                {{zone.size}}
              </div>
            </div>
            <ng-container *ngFor="let tile of zone.tiles">
              <div *ngIf="tile.selected">{{tile.name | lowercase}}, </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>

