<div class="overflow-hidden relative h-screen box-border">
  <div class="flex items-center py-4 px-4 md:px-10 lg:px-60 box-border h-full w-full">
    <div class="w-full">
      <div class="text-2xl"><span class="text-primary">2. </span>{{title}}</div>
      <mat-form-field appearance="standard" class="w-full">
        <input type="email" matInput [formControl]="emailControl">
        <mat-error>Is required.</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="absolute z-10 bottom-4 md:bottom-4 right-4 md:right-4">
    <button mat-fab color="primary" (click)="goToBackPage()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="verifyControl()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
