<div class="overflow-hidden relative h-screen box-border">
  <div class="flex items-center py-4 px-4 md:px-10 lg:px-60 box-border h-full w-full">
    <div class="w-full">
      <div class="text-2xl"><span class="text-primary">5. </span>{{title}}</div>
        <div class="flex gap-2 flex-wrap mt-2">
          <div
            [class.active]="dataForm.haveTile"
            (click)="handleChangeOption()"
            class="py-2 px-3 border border-primary rounded-md text-primary hover:bg-primary-light hover:text-slate-100 cursor-pointer">
            YES
          </div>
          <div
            [class.active]="!dataForm.haveTile"
            (click)="handleChangeOption()"
            class="py-2 px-3 border border-primary rounded-md text-primary hover:bg-primary-light hover:text-slate-100 cursor-pointer">
            NO
          </div>
        </div>
    </div>
  </div>

  <div class="absolute z-10 bottom-4 md:bottom-4 right-4 md:right-4">
    <button mat-fab color="primary" (click)="goToBackPage()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="goToNextPage()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
