<div class="overflow-hidden relative h-screen box-border">
  <div class="flex items-center py-4 px-4 md:px-10 lg:px-60 box-border h-full w-full">
    <div class="w-full">
      <div class="text-2xl"><span class="text-primary">9. </span>{{title}}</div>
      <div class="mt-2 flex flex-col">
        <input
          type="file"
          class="file:mr-4 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:text-primary file:bg-indigo-200 border-2 border-primary rounded-md p-1 hover:file:bg-indigo-300"
          (change)="selectFile($event)">
        <small class="text-primary-dark">Max. file size: 10MB</small>
    </div>
  </div>

  <div class="absolute z-10 bottom-4 md:bottom-4 right-4 md:right-4">
    <button mat-fab color="primary" (click)="goToBackPage()">
      <mat-icon>expand_less</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="goToNextPage()">
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
</div>
