<div class="relative">
  <div class="p-5 md:p-10 box-border cart-container">
    <div class="flex g-5 items-center">
      <img
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
        alt="rcr"
        width="75">
      <h1 class="text-2xl font-light">Your Shopping Cart</h1>
    </div>
    <div class="mt-20 w-auto px-0 lg:px-20">
      <div class="flex flex-col gap-5">
        <div *ngFor="let item of items" class=" bg-slate-200 flex flex-row gap-5 justify-between">
          <div>
            <img [src]="item.images[0].src" [alt]="item.images[0].alt" class="w-40 h-40">
          </div>
          <div class="flex flex-col h-40 w-60 justify-center lg:flex-row lg: lg:items-center lg:gap-5 lg:w-80 lg:justify-between">
            <h3 class="font-bold text-lg whitespace-pre-wrap">{{item.name | titlecase}}</h3>
            <div>
              <p>{{item.variation[0].value}}</p>
              <p>{{item.variation[1].value}}</p>
            </div>
            <div class="flex flex-row items-center gap-2">
              <small>{{item.quantity}}</small>
              <div class="flex flex-row gap-1">
                <button class="bg-gray-500 text-white rounded-xl pl-2 pr-2 hover:bg-gray-700" (click)="handleAdd(item, true)">+</button>
                <button class="bg-gray-500 text-white rounded-xl pl-2 pr-2 hover:bg-gray-700" (click)="handleAdd(item, false)">-</button>
              </div>
            </div>
          </div>
          <div class="flex items-start lg:items-center lg:h-40 lg:bg-stone-100">
            <button class="bg-slate-200 lg:bg-slate-100 p-2 font-bold" (click)="handleRemoveItem(item)">X</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="checkout_container" class="fixed bottom-2 w-full p-5 box-border md:bottom-0 md:p-0 md:w-96 md:right-0 md:top-0 drop-shadow-2xl lg:drop-shadow-none">
  <div
    id="view_checkout"
    class="bg-blue-900 rounded-lg h-10 relative overflow-hidden transition-all md:rounded-none md:h-full">
    <div class="h-10 bg-yellow-400 md:hidden cursor-pointer md:cursor-default" (click)="openCheckout()">
        ver carrito
    </div>
    <div>
      content
    </div>
    <div class="relative md:absolute w-full bg-yellow-400 bottom-0">
      Checkout
    </div>
  </div>
</div>
