<div class="overflow-hidden relative box-border bg-white rounded-md min-w-full lg:min-w-[1000px]">
  <div class="flex flex-row p-4 md:p-10 justify-between items-center gap-2 box-border h-full">
    <div class="w-full">
      <div class="text-2xl"><span class="text-primary">3. </span>{{title}}</div>
      <small>{{subTitle}}</small>
      <div class="flex gap-2 flex-wrap mt-2">
          <div
            *ngFor="let option of dataForm.areas"
            class="py-2 px-3 border border-primary rounded-md text-primary hover:bg-primary-light hover:text-slate-100 cursor-pointer"
            [class.active]="option.selected"
            (click)="handleSelected(option.id)">
            {{option.name}}
          </div>
          <div
            class="py-2 px-3 border border-primary rounded-md text-primary hover:bg-primary-light hover:text-slate-100 cursor-pointer"
            *ngIf="!otherActive"
            (click)="handleOther()">
            OTHER
          </div>
          <div *ngIf="otherActive" class="py-2 px-3 border border-primary rounded-md">
            <div class="relative pr-7">
              <input
                type="text"
                placeholder="OTHER"
                class="bg-slate-100 outline-none text-primary"
                [formControl]="otherControl">
                <svg
                  *ngIf="!otherControl.invalid"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  (click)="addNewOption()"
                  class="w-6 h-6 text-primary cursor-pointer hover:text-primary-dark absolute right-0 top-0">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <svg
                  *ngIf="otherControl.invalid"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  (click)="handleCloseInputOther()"
                  class="w-6 h-6 text-primary cursor-pointer hover:text-primary-dark absolute right-0 top-0">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
          </div>
      </div>
      <small class="text-red-500" *ngIf="!hasOneSelected">Select at least one option.</small>
    </div>
  </div>

  <div class="bg-primary flex">
    <div class="w-1/2 pt-3 pl-3 pb-3 cursor-pointer hover:bg-primary-dark border-r border-gray-400" (click)="goToBackPage()">
      <div class="text-slate-100 flex items-center justify-start">
        <mat-icon>chevron_left</mat-icon> PREVIOUS
      </div>
    </div>
    <div class="w-1/2 pt-3 pr-3 pb-3 cursor-pointer hover:bg-primary-dark border-l border-gray-400" (click)="verifySomeOneSeleceted()">
      <div class="text-slate-100 flex items-center justify-end">
          NEXT <mat-icon>chevron_right</mat-icon>
      </div>
    </div>
  </div>
</div>
