<div class="container_main">
  <div class="progress_bar">
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
  </div>

  <div class="content_form" [style.top.px]="oneStep.top">
    <vs-step-one (next)="handleNext()" [oneStep]="oneStep"></vs-step-one>
  </div>

  <div class="content_form" [style.top.px]="twoStep.top">
    <vs-step-two (next)="handleNext()" [twoStep]="twoStep"></vs-step-two>
  </div>

  <div class="content_form" [style.top.px]="threeStep.top">
    <vs-step-three (next)="handleNext()" [options]="threeStep.areas"></vs-step-three>
  </div>

  <div class="content_form" [style.top.px]="fourStep.top">
   <vs-step-four (next)="handleNext()" [optionsSelected]="threeStep.areas"></vs-step-four>
  </div>

  <div class="content_form" [style.top.px]="fiveStep.top">
    <div class="px-2 md:mx-0 flex items-center justify-center content-center h-full w-full">
      <div class="w-3/4">
        <h1 class="title"><span>5.</span> {{fiveStep.title}}</h1>
        <small>{{fiveStep.description}}</small>
        <div class="flex gap-2 flex-wrap">
          <div
            class="py-2 px-5 text-primary border border-primary rounded-md hover:text-slate-100 hover:bg-primary cursor-pointer"
            [class.active_selectable]="fiveStep.haveTile"
            (click)="fiveHandleClick(true)">YES</div>
          <div
            class="py-2 px-5 text-primary border border-primary rounded-md hover:text-slate-100 hover:bg-primary cursor-pointer"
            [class.active_selectable]="!fiveStep.haveTile"
            (click)="fiveHandleClick(false)">NO</div>
        </div>
      </div>
    </div>
  </div>

  <div class="content_form" [style.top.px]="sixStep.top">
    <div class="px-2 py-2 md:py-0 md:mx-0 flex items-center justify-center content-center h-full w-full">
      <div class="w-full md:w-3/4">
        <h1 class="title"><span>6.</span> {{sixStep.title}}</h1>
        <small>{{sixStep.description}}</small>
        <div class="overflow-auto max-h-[80vh] flex flex-col">
          <div class="flex flex-col">
            <div *ngFor="let option of threeStep.areas">
              <div *ngIf="option.selected" class="mb-4">
                <div>{{option.name}}</div>
                <div *ngFor="let area of option.areas" class="mt-2">
                  <div *ngIf="area.selected">
                    <div class="grid grid-rows-2 grid-cols-4 gap-2 md:grid-cols-6 md:grid-rows-1">
                      <div class="col-span-4 md:col-span-2 text-primary border border-b-4 md:border-b md:border-x-2 border-primary rounded-md p-2 text-center">{{area.name}}</div>
                      <div
                        class="col-span-1 md:col-span-1 text-primary border border-primary rounded-md p-2 text-center cursor-pointer hover:bg-primary-light hover:text-slate-100 break-words"
                        *ngFor="let material of area.tiles"
                        [class.active_selectable]="material.selected"
                        (click)="handleSelectTile(option.id, area.id, material.id)">
                          {{material.name}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content_form" [style.top.px]="sevenStep.top">
    <div class="px-2 md:mx-0 flex items-center justify-center content-center h-full w-full">
      <div class="w-3/4">
        <h1 class="title"><span>7.</span> {{sevenStep.title}}</h1>
        <div class="flex gap-2">
          <div
            class="py-2 px-5 text-primary border border-primary rounded-md hover:text-slate-100 hover:bg-primary cursor-pointer"
            (click)="seventHandleClick(true)"
            [class.active_selectable]="sevenStep.hasDesign">YES</div>
          <div
            class="py-2 px-5 text-primary border border-primary rounded-md hover:text-slate-100 hover:bg-primary cursor-pointer"
            (click)="seventHandleClick(false)"
            [class.active_selectable]="!sevenStep.hasDesign">NO</div>
        </div>
      </div>
    </div>
  </div>

  <div class="content_form" [style.top.px]="eightStep.top">
    <div class="px-2 md:mx-0 flex items-center justify-center content-center h-full w-full">
      <div class="w-3/4">
        <h1 class="text-2xl"><span class="text-primary">8.</span> {{eightStep.title}}</h1>
        <div class="mt-2">
          <select class="border-2 border-primary py-2 px-4 rounded-md text-primary" [formControl]="s6formControl">
            <option value="LESS THAN 25 (SMALL)" class="text-primary">LESS THAN 25 (SMALL)</option>
            <option value="25-150 (Medium)" class="text-primary">25-150 (Medium)</option>
            <option value="More than 150 (Large)" class="text-primary">More than 150 (Large)</option>
            <option value="Don't know" class="text-primary">Don't know</option>
          </select>
        </div>
      </div>
    </div>

  </div>

  <div class="content_form" [style.top.px]="nineStep.top">
    <div class="px-2 md:mx-0 flex items-center justify-center content-center h-full w-full">
      <div class="w-3/4">
        <h1 class="text-2xl"><span class="text-primary">9.</span> {{nineStep.title}}</h1>
        <div class="mt-2">
          <div class="border-2 border-primary p-4 rounded-md flex justify-between">
            <div>
              <h4>{{inputFile}}</h4>
              <small>MAX. FILE SIZE: 10.6MB</small>
            </div>
            <div class="bg-primary text-slate-100 rounded-md px-3 flex items-center cursor-pointer hover:bg-primary-dark" (click)="fileProject.click()">BROWSE FILES</div>
          </div>
          <input #fileProject type="file" hidden (change)="selectFile($event)">
        </div>
      </div>
    </div>
  </div>

  <div class="content_form" [style.top.px]="tenStep.top">
    <div class="px-2 md:mx-0 flex items-center justify-center content-center h-full w-full">
      <div class="w-3/4">
        <h1 class="text-2xl"><span class="text-primary">10.</span> {{tenStep.title}}</h1>
        <mat-form-field appearance="standard" class="w-full">
          <input type="text" matInput autocomplete="off" placeholder="ENTER A LOCATION" [formControl]="s8locationFormControl">
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="handleSendForm()" [disabled]="loadingSend">Send</button>
      </div>
    </div>
  </div>

  <div class="content_form" [style.top.px]="finalStep.top">
    <div class="px-2 md:mx-0 flex items-center justify-center content-center h-full w-full">
      <div class="w-3/4">
        <h1 class="title"><span>11.</span> {{finalStep.title}}</h1>
        <small>{{finalStep.subTitle}}</small>
        <div class="body_content">
          <div id="countdown">
            <div id='tiles'>
              <span>
                {{finalHour}}
              </span>
              <span>
                {{finalMinute}}
              </span>
              <span>
                {{finalsecond}}
              </span>
            </div>
            <div class="labels">
              <li>HRS</li>
              <li>MINS</li>
              <li>SECS</li>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--<div>div class="fixed flex gap-1 justify-end bottom-2 right-3">
    <button mat-fab color="primary" (click)="handlePrevious()" [disabled]="progress == 0 || progress == 100">
      <mat-icon>expand_less</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="handleNext()" [disabled]="progress == 90 || progress == 100">
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>-->

  <!--<img src="assets/imgs/logo.png" alt="logo" class="w-24 absolute bottom-2 left-3">-->
</div>
