<div>
  <div class="flex flex-row gap-2 flex-wrap">
    <div class="flex flex-row gap-2 box-border flex-wrap">
      <div *ngFor="let option of areas"
        class="border border-primary hover:border-2 transition-all cursor-pointer rounded-md w-[96px] box-border flex items-center"
        [class.active]="option.selected" (click)="handleSelect(option.id)"
        [matTooltip]="option.name"
        matTooltipPosition="above">
        <img [src]="option.image" class="w-full h-full rounded-md" *ngIf="option.image">
        <div *ngIf="!option.image" class="break-words p-1">{{option.name | slice:0:30}}</div>
      </div>
    </div>
    <div class="border border-primary hover:border-2 transition-all cursor-pointer rounded-md min-w-[96px] box-border flex items-center justify-center" *ngIf="!otherActive"
      (click)="handleOther()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1"
        stroke="currentColor"
        class="w-[80px] h-[80px] text-primary">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
    </div>
    <div *ngIf="otherActive" class="border-4 border-primary relative h-fit py-2 px-3 rounded-md w-[200px] box-border">
      <input type="text" class="outline-none bg-slate-100 text-primary pr-3 w-[150px]" placeholder="OTHER"
        [formControl]="otherControl">
      <div class="absolute right-1 top-2">
        <svg (click)="handleCheckOther()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-primary cursor-pointer">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
        </svg>
      </div>
    </div>
  </div>
</div>
